html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Lato', sans-serif;
  font-style: normal;
  box-sizing: border-box;
  background: #fafafc;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    min-height: 100vh;
}

.headerContainer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 25px 48px;
}

.contentContainer {
    height: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
}

.contentInnerContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 86%;
}

.contentContainer > h1 {
    font-size: 3rem;
}

.explainer {
    max-width: 350px;
    margin: 0 0 40px;
}

.button {
    display: block;
    width: 140px;
    height: 40px;
    border: 2px solid #060666;
    border-radius: 6px;
    line-height: 36px;
    font-size: 14px;
    font-weight: 700;
    color: #060666;
    background: #fafafc;
    margin: 0 auto;
    cursor: pointer;
}
.button:hover {
    color: #fafafc;
    background: #060666;
}

.leiContainer {
    margin-bottom: 28px;
    padding: 12px;
    box-shadow: 0 0 20px 1px rgb(62 75 82 / 9%);
    border-radius: 12px;
}

.lei {
    display: inline-block;
    min-width: 240px;
}

.copyButton {
    display: inline-block;
    width: 82px;
    padding: 8px 0;
    border-radius: 6px;
    background: rgba(31,179,155,.1);
    color: #1fb39b;
    cursor: pointer;
    border: none;
}
.copyButton:hover {
    background: #1fb39b;
    color: #fafafc;
}

.link {
    text-decoration: underline;
    text-underline-offset: 0.2em;
    text-decoration-color: #188b78;
    color: black;
}
.link:hover {
    color: #1fb39b;
    text-decoration-color: #1fb39b;
}

.navLink {
    color: #060666;
    font-size: 1.125rem;
    text-decoration: none;
}


.gitlab {
    margin-right: 16px;
}
.gitlabDark {
    fill: #060666;
}
.gitlabMedium {
    fill: #5353B3;
}
.gitlabLight {
    fill: #8484C8;
}
.gitlab:hover .gitlabDark {
    fill: #188B78;
}
.gitlab:hover .gitlabMedium {
    fill: #1FB39B;
}
.gitlab:hover .gitlabLight {
    fill: #39CDB4;
}

.footer {
    margin-top: 40px;
}
